body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-bottom: 200px;
}

.container {
    margin: 0 auto;
    width: 420px;
}

.header {
    background-image: url(/img/header-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.header-title {
    font-family: Tinos, serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-align: left;
    width: 78%;
    margin-left: 5px;
}

.header-sale {
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: auto;
}

.header-sale span {
    font-size: 20px;
}

.slider {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

.endow {
    background-image: url(/img/ship-and-discount.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    width: 100%;
    height: 105px;
    position: absolute;
    bottom: -58px;
}

.shipping {
    width: 100%;
    height: 44%;
}

.flash-sale {
    width: 100%;
    height: 56%;
    display: flex;
    align-items: center;
}

.flash-sale-icon {
    background-image: url(/img/flash-sale.gif);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    width: 15%;
    height: 110%;
}

.flash-sale-price {
    width: 43%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.flash-sale-price-new {
    font-size: 19px;
    font-weight: bold;
}

.flash-sale-price-old {
    font-size: 14px;
}

.flash-sale-price-old span {
    text-decoration-line: line-through;
    margin-left: 10px;
}

.flash-sale-count {
    text-align: end;
    width: 42%;
    font-weight: bold;
    margin: 25px 8px 0 0;
}

.line {
    border-top: 3px solid rgb(199, 199, 199);
    margin: 15px 0;
}

.pr-product {
    display: flex;
    font-size: 16px;
    height: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}

.pr-product-ratting {
    display: flex;
    padding-right: 8px;
    border-right: 1px solid rgb(143, 142, 142);
}

.pr-product-ratting-icon {
    width: 18px;
    height: 18px;
}

.pr-product-ratting-txt {
    margin-left: 3px;
    font-weight: bold;
}

.pr-product-ratting-txt span {
    margin-left: 3px;
    font-weight: 400;
    color: rgb(44, 93, 186);
}

.pr-product-sold {
    padding: 0 8px;
    border-right: 1px solid rgb(143, 142, 142);
    color: rgb(143, 142, 142);
}

.pr-product-sold span {
    color: rgb(0, 0, 0);
    margin-left: 3px;
    font-weight: bold;
}

.pr-product-ship {
    display: flex;
    padding-left: 8px;
}

.pr-product-ship-icon {
    width: 20px;
    height: 20px;
}

.pr-product-ship-txt {
    margin-left: 3px;
    font-weight: bold;
    color: rgb(28, 191, 192);
}

.info {
    width: 100%;
    padding: 0 10px;
}

.info-payment {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.info-payment-title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 35px;
}

.info-payment-des {
    display: flex;
    align-items: center;
}

.info-payment-icon {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: #28a10a;
    padding: 0 3px;
    border-radius: 2px;
}

.info-payment-txt {
    margin-left: 5px;
    font-size: 13px;
    line-height: 1.5;
    color: rgb(112, 112, 112);
}

.info-ship {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.info-ship-header {
    display: flex;
    line-height: 1.4;
}

.info-ship-header-title {
    font-size: 15px;
    width: 50%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: left;
}

.info-ship-header-price {
    width: 45%;
    text-align: right;
    font-size: 14px;
    color: rgb(146, 143, 143);
    text-decoration-line: line-through;
}

.info-ship-des {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

.info-guarantee {
    margin-top: 10px;
}

.info-guarantee-title {
    font-size: 15px;
    width: 50%;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.info-guarantee-des {
    font-size: 13px;
    color: rgb(112, 112, 112);
    margin-top: 10px;
}

.buy-now {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.buy-now-btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(241, 243, 244);
    text-align: center;
    background-color: rgb(254, 43, 84);
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.rate {
    padding: 10px;
    background-color: #fff;
}

.rate-header {
    display: flex;
}

.rate-header-title {
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: left;
}

.rate-header-seemore {
    width: 30%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(112, 112, 112);
    text-align: right;
}

.rate-star {
    display: flex;
    height: 17px;
    margin-top: 8px;
}

.rate-star-txt {
    font-weight: bold;
}

.rate-star-icon {
    display: flex;
    margin-left: 5px;
}

.rate-comment {
    margin-top: 10px;
}

.rate-comment-item {
    margin-bottom: 10px;
}

.rate-comment-user {
    display: flex;
    align-items: center;
}

.rate-comment-user-ava {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
}

.rate-comment-user-ava-1 {
   background-image: url(/img/ava/1.jpg);
}

.rate-comment-user-ava-2 {
    background-image: url(/img/ava/2.jpg);
}

.rate-comment-user-ava-3 {
    background-image: url(/img/ava/3.jpeg);
}

.rate-comment-user-name {
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 5px;
}

.rate-comment-star {
    display: flex;
    width: 18%;
    margin-top: 8px;
}

.rate-comment-txt {
    margin-top: 8px;
    font-size: 15px;
}

.rate-comment-img {
    margin-top: 8px;
    display: flex;
}

.rate-comment-img-item {
    margin-right: 15px;
    width: 40%;
}

.rate-comment-img-item video {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.rate-comment-img-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.rate-comment-seemore {
    display: flex;
    align-items: center;
}

.rate-comment-seemore-txt {
    font-size: 14px;
    line-height: 1.4;
    color: rgb(129, 129, 129);
}

.rate-comment-seemore-icon {
    background-image: url(/img/3cham.gif);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    width: 22px;
    height: 14px;
    margin-left: 5px;
}

.product {

}

.product-header {

}

.product-header-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(0, 0, 0);
}

.product-header-video {
    margin-top: 8px;
    width: 100%;
}

.product-header-video video{
    height: 560px;
    object-fit: cover;
    width: 100%;
}

.product-content {

}

.product-content-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    color: rgb(0, 0, 0);
}

.product-content-des {
    line-height: 1.4;
    font-size: 15px;
}

.product-content-des ul {
    padding-left: 20px;
}

.product-img img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}


